<!-- Wappler include head-page="layouts/user" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="app" appConnect="local" -->
<meta name="ac:route" content="/app">

<section class="pt-4">
  <div class="container">
<div class="row text-center">
  <div class="col">
    <h1>Your Amazing Page</h1>
    <h2>Subtitle comes here.</h2>
    <p class="text-h3"><a href="#">Learn More &gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Buy &gt;</a></p>
  </div>
</div>
  </div>
</section>
<section></section>
