<!-- Wappler include head-page="layouts/main" is="dmx-app" id="index" appConnect="local" jquery_slim_34="local" fontawesome_4="local" bootstrap4="minty" components="{dmxBrowser:{}}" -->
<div is="dmx-browser" id="browsermain"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col">
            <h2 class="text-primary mt-3">Welcome please login</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-2">
          <div class="card-header">Login</div>
          <div class="card-body">
            <p class="card-text">Example on page login form.</p>
            <%- await include('/partials/loginform', Object.assign({}, locals)) %>
          </div>
        </div>


        <div class="card mt-5 mb-5">
          <div class="card-header">Registration Form</div>
          <div class="card-body">
            <p class="card-text">Example on page registration form.</p>
            <%- await include('/partials/registerform', Object.assign({}, locals)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<meta name="ac:route" content="/">
<!-- New Wappler Page -->