<!-- Wappler include head-page="layouts/user" is="dmx-app" id="test" appconnect="local" jquery_slim_34="local" fontawesome_4="local" bootstrap4="local" -->
<meta name="ac:route" content="/test">
<section class="pt-4">
  <div class="container">
<div class="row text-center">
  <div class="col">
    <h1>Your Amazing Product</h1>
    <h2>Subtitle comes here.</h2>
    <p class="text-h3"><a href="#">Learn More &gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Buy &gt;</a></p>
    <img alt="image" class="img-fluid mt-5" >
  </div>
</div>
  </div>
</section>
<!-- New Wappler Page -->
